@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.main-container{
  display: flex;
}

.side-bar{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 1.25rem;
  background-color: #5603AD;
  width: fit-content;
  height: 100vh;
}

.side-menu{
  width: 100%;
  height: 34px;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: start;
  color: #f5f5f5;
  border-radius: 0.2rem;
  cursor: pointer;
  column-gap: 0.5rem;
  transition: all 0.3s ease;
}

.menu-out{
  width: fit-content;
  height: 34px;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: start;
  color: #f5f5f5;
  border-radius: 0.2rem;
  cursor: pointer;
  column-gap: 0.5rem;
  transition: all 0.3s ease;
}

.side-menu p{
  font-size: 0.89rem;
  padding-right: 1rem;
}

.side-menu:hover{
  background-color: #f5f5f5;
  color: #5603AD;
}

.side-menu.active{
  background-color: #f5f5f5;
  color: #5603AD;
}

.side-bar-text{
  display: none;
}

.side-bar-text-visible{
  display: flex;
}

.main-dashboard{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f9f9f9;
}

.heading-profile{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  column-gap: 1.5rem;
  border-bottom: 1px solid #e9e9e9;
}

.icon-and-profile{
  display: flex;
  column-gap: 1.25rem;
}

.search-bar{
  display: flex;
  width: fit-content;
  height: auto;
}

.search-bar input{
  border: 1px solid #e9e9e9;
  outline: none;
  padding: 0.5rem 6rem 0.5rem 1rem;
  border-radius: 30px;

}

.search-icon{
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 35px;
  height: 35px;
  justify-content: center;
  border-radius: 50%;
}

.search-icon i{
  font-size: 1.2rem;
}

.search-icon:hover{
  background-color: #f9f9f9;
}

.profile-image{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.profile-image img{
  width: 100%;
  height: 100%;
}

.mytask-and-add-task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2rem;
}

.my-task-heading-txt h1{
  font-size: 1.25rem;
  font-weight: 500;
}

.add-task-button-con button{
  border: none;
  border-radius: 30px;
  background-color: #5603AD;
  color: #f5f5f5;
  column-gap: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.add-task-button-con button i{
  margin-right: 0.3rem;
}

.mytask-and-add-task button:hover{
  opacity: 0.8;
}

.tasks-and-schedule-container{
  display: flex;
  padding: 1rem 0rem;
  flex-direction: row;
}

.tasks-container{
  display: flex;
  align-items: start;
  position: relative;
  width: 70%;
  height: auto;
  flex-grow: 2;
  border-right: 1px solid #e9e9e9;
  flex-direction: column;
  border-top: 1px solid #e9e9e9;
}

.calander-container{
  display: flex;
  width: 30%;
  flex-direction: column;
  
}

.task{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.8rem 2rem;
  border-top: 0px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.task-completed{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.8rem 2rem;
  background-color: #f0f0f0;
}

.status-and-task-name{
  display: flex;
  column-gap: 1.25rem;
}

.status-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.status-icon i{
  font-size: 1.8rem;
  font-weight: 300;
}

.task-name-and-time{
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: auto;
  row-gap: 0.3rem;
}

.task-name{
  font-size: 1.1rem;
  color: #0a0a0a;
  font-weight: 400;
}

.time-of-task{
  display: flex;
  column-gap: 0.3rem;
  align-items: center;
  justify-content: start;
}

.divider{
  width: 5px;
  height: 2px;
  background-color: #555;
}

.task-time{
  font-size: 0.85rem;
  font-weight: 400;
  color: #555;
}

.action-btn{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: fit-content;
  height: auto;
  cursor: pointer;
}

.action-btn i{
  font-size: 1.25rem
}

.actions-container{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 0.5rem;
  border: 1px solid #e9e9e9;
  border-radius: 0.2rem;
  row-gap: 0.3rem;
  position: absolute;
  right: 30px;
  top: 35px;
  align-items: start;
  visibility: hidden;
  transition: all 0.3s ease-out;
}

.actions-container-visible{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 0.5rem;
  border: 1px solid #e9e9e9;
  border-radius: 0.2rem;
  row-gap: 0.3rem;
  position: absolute;
  right: 30px;
  top: 35px;
  align-items: start;
  visibility: visible;
  transition: all 0.3s ease-out;
}


.edit-task{
  padding: 0.3rem 0.5rem;
  font-size: 0.85rem;
  width: 100%;
  border-radius: 0.2rem;
  cursor: pointer;
}

.delete-task{
  padding: 0.3rem 0.5rem;
  font-size: 0.85rem;
  width: 100%;
  border-radius: 0.2rem;
  cursor: pointer;
}

.delete-task{
  color: rgb(255, 112, 112);
}

.delete-task:hover{
  background-color:  rgb(255, 112, 112, 0.2);
}

.edit-task:hover{
  background-color: #e9e9e9;
}

.calander{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.calendar-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 0.54rem;
}

.icon-and-text{
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.calendar-icon{
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.calendar-drop{
  display: flex;
  padding: 0.4rem 0.85rem;
  column-gap: 0.3rem;
  align-items: center;
  border: 1px solid #e9e9e9;
  border-radius: 30px;
  cursor: pointer;
}

.calendar-drop button{
  border: none;
  background-color: transparent;
}

.main-calendar{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.days{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.4rem 0.1rem;
}

.day{
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.day p{
  font-size: 1rem;
  font-weight: 400;
}

.day.active{
  background-color: #5603AD;
  color: #f5f5f5;
}

.create-task-overlay{
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgb(10, 10, 10, 0.3);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  visibility: hidden;
}

.create-task-overlay-visible{
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgb(10, 10, 10, 0.3);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  visibility: visible;
}

.form-container{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 35%;
  height: auto;
  padding: 1rem;
  align-items: center;
  row-gap: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #e9e9e9;
  position: relative;
}

.form-container p{
  font-size: 1.20rem;
  font-weight: 500;
}

#form{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.input-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}

.input-group label{
  font-size: 1rem;
}

.input-group input{
  border: 1px solid #e9e9e9;
  outline: none;
  padding: 0.6rem 1rem;
  border-radius: 0.3rem;
}

.button-container{
  width: 100%;
  height: auto;
}

.button-container button{
  padding: 0.8rem 1rem;
  border: none;
  color: #fff;
  background-color: #5603AD;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0.3rem;
}

.button-container button:hover{
  opacity: 0.8;
}


.close-modal-btn{
  width: 28px;
  height: 28px;
  background-color: #f0f0f0;
  cursor: pointer;
  position: absolute;
  right: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-modal-btn i{
  font-size: 1.25rem;
}